#img-bg{

  background-image: url('https://i.imgur.com/Beu3xKo.jpg');
  min-height: 569px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  }

  .bg-fundo {

    background-image: url('https://i.imgur.com/zAk7OYd.jpg?1');
  min-height: 569px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  }
